<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Multiusuário</title>
    <link rel="stylesheet" href="/static/Estilos.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <main>
        <div class="buscar-chat">
            <div class="texto">
                <h1>Chat Multiusuário</h1>
            </div>
            <div id="pacote-chat">
                <div class="mensagens" id="mensagens"></div>
            </div>
            <div class="pacote-mensagem">
                <input type="text" id="mensagem-usuario" placeholder="Digite sua mensagem"><br>
                <button class="botao-enviar" id="botao-enviar"
                onkey="handleKeyPressEnviar(event)" onclick="enviar_mensagem()">
                    Enviar
                </button>
            </div>
            <div class="menu">
                <button class="botao-sair" id="botao-sair" onclick="sair_do_chat()">
                    Sair
                </button>
            </div>
        </div>
    </main>
    <script src="/static/Clientes.js"></script>
</body>
</html>